$bg-color: #E5E7E9;


$primary-color: rgba(69, 180, 255, 0.5);
$sucess-color: rgba(60, 211, 113, 0.5);
$warning-color: rgba(255, 180, 0, 0.5);
$info-color: rgba(0, 171, 255, 0.5);
$error-color: rgba(255, 99, 71, 1);